*{
  margin: 0;
  padding: 0;
  font-family: "font-primary";
  text-decoration: none;
}

@font-face {
  font-family: "font-primary";
  src: url("../assets/HARRYP__.TTF");
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
  }
  
  header {
    background-color:black;
    padding: 1em 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    font-size: 35px;
  }
  
  nav ul li {
    margin: 0 1em;
  }
  
  nav ul li a {
    color: aliceblue;
  }
  
  main {
    padding: 1px 0;
    text-align: center;
    background-color: black;
  }
    
  .intro {
    max-width: 800px;
    margin: 0 auto;
  }
  
    /*seccion intro*/
  
  #intro {
    width: 100%;
    min-height: 130vh;
    padding: 20px 10;
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-image: url(../images/castillo-1.jpg);
    background-size: cover;
    color: azure;
  }

  #intro  .titulo-pricipal{
    font-size: 65px;
    margin: 130px;
    text-align: center;
  }

  #intro p {
    font-size: 40px;
    text-align:center;
    margin: 10 20px;
  }

  /*seccion categoryas*/
  #categorys {

    width: 100%;
    min-height: 100vh;
  
    margin: 5px 0;
    background-image: url(../images/dining-room-5114247_1280.jpg);
    background-size: cover;
  }

  .title-categorys{
    color: azure;
    padding: 50px 0 ;
    margin: 40px 0 ;
    font-size: 65px;
  }

  .category-magics{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .category-magics h3{
    font-size: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin:  -200px;
    padding: 0px;
    color: azure;
    text-decoration: none;
  }

  .card-casas,
  .card-hechizos,
  .card-personajes {
    width: 300px;
    height: 300px;
    margin: 40px;
    gap:10px;
    border: 2px solid azure;
    border-radius: 150px;
    cursor: pointer;
    transition: transform 1s ease;
  }
  
  .card-casas:hover,
  .card-hechizos:hover,
  .card-personajes:hover {
    transform: scale(1.1);
  }

  .imagen img{
    height: 300px;
    width: 300px;
    border-radius:150px;
  }

/*Seccion Casas*/

#Houses{
  min-height: 100vh;
  padding: 10px 0;
  margin: 5px 0;
  background-image: url(../images/fondo\ casas\ nueva.jpg);
  background-size: cover;
}

.title-casas{
  color: azure;
  padding: 20px 0;
  margin: 10px 0;
  font-size: 65px;
}

.cards-houses{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  gap: 20px;
  margin: 80px 10px;
  padding: 20px;

}

.Gryffindor,
.Slytherin,
.Ravenclaw,
.Hufflepuff{
  padding: 20px;
  margin: 5px;
  border: 1px solid rgba(239, 244, 244, 0.379);
  border-radius: 20px;
  text-align:center;
  font-size: 30px;
  font-weight: bolder;
  color: azure;
  transition: 1s transform;
}

.Gryffindor:hover,
.Slytherin:hover,
.Hufflepuff:hover,
.Ravenclaw:hover {
  transform: scale(1.2);
}


h3{
  font-size: 45px;
  text-decoration:underline;
  padding-bottom: 20px;
}

.Gryffindor {
  background-color: #46060f;
  color: orange;
}

.Slytherin{
background-color: #0e3928 ;
color: black;
}

.Hufflepuff{
background-color: #9e701a;
color: rgb(64, 56, 56);
}

.Ravenclaw{
  background-color: #062975;
  color: azure;
}

/*Seccion Hechizos*/

#spells{
  min-height: 140vh;
  color: azure;
  padding: 20px;
  margin: 5px 0;
  background-image: url(../images/patronus.jpg);
  background-size: cover;
}

.Hechizos h2{
  font-size: 65px;
  padding: 20px ;
  margin-bottom: 20px;
}

.Hechizos p{
font-size: 40px;
padding: 20px;
margin: 20px;
text-align: left;
}

.Hechizos ul li{
  color: #d1cfde;
  font-size: 30px;
  text-align: left;
  font-weight: bolder;
  letter-spacing: 1px;
  line-height: 40px;
}
  footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 25px;
  }


